body { background-color: rgba(77, 5, 5, 0.906); background-size: 100%; }
.title { color: white; text-align: center; top: 20px; position: relative; }
.title::before { content: ""; display: block; position: absolute; width: 25px; height: 25px; background: rgb(236, 4, 4); border-radius: 100%; border: 1px solid rgb(245, 244, 244); top: -30%; right: 60%; }
.title::after { content: ""; position: absolute; width: 25px; height: 25px; background: rgb(9, 19, 198); border-radius: 100%; border: 1px solid rgb(251, 248, 248); top: -25%; right: 35%; display: grid; }
.piski_popki_kakashechki { display: none; }
