body { background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); font-family: sans-serif; font-size: 5rem; }
.wrapper { padding: 50px; min-height: 100%; }
.container { max-width: 1000px; margin: 0px auto; display: flex; flex-direction: column; }
.block-wrapper, .title { margin-bottom: 100px; }
.title { text-align: center; }
.block-wrapper { display: flex; justify-content: center; }
.block { background: linear-gradient(210deg, rgb(52, 187, 52), rgb(34, 128, 0)); height: 300px; width: 300px; border-radius: 1rem; }
.text { font-size: 2rem; }
.title::after { content: ""; position: absolute; width: 90px; height: 90px; border-radius: 100%; background: rgb(73, 85, 248); border: 4px solid rgb(255, 255, 255); transform: translate(0.5em); }
.title::before { content: "хуйхуйхуй"; position: absolute; width: 90px; height: 90px; background: rgb(255, 112, 112); border: 4px solid rgb(255, 255, 255); border-radius: 100%; transform: translate(-1.5em); }
